<div class="diff">
  <table class="fields">
    {% for item in diff.fields %}
      <tr class="{{ item.action }}">
        <th>{{ item.key }}</th>
        {% if item.changed %}
          <td class="del">{{ item.content.before }}</td>
          <td class="ins">{{ item.content.after }}</td>
        {% else %}
          <td colspan="2">{{ item.content }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% for item in diff.bodies %}
    <div class="body {{ item.action }}">
      <label>{{ item.key }}</label>
      {{ item.content|safe }}
    </div>
  {% endfor %}
</div>
