{% extends "cmsplugin_diff/base.html" %}
{% load i18n humanize %}

{% block content_title %}
    <h1>
      {{ title }}
    </h1>
{% endblock %}

{% block content %}
    {% for editing in object_list %}
      <hr/>
      {% with next=editing.next previous=editing.previous %}
	<h2>
	  {% if previous.pk %}<a href="{{ previous.get_absolute_url }}" >&laquo</a>{% else %}<a>&#124;</a>{% endif %}
	  <a href="{{ editing.get_absolute_url }}">{{ editing }}</a>
	  {% if next.pk %}<a href="{{ next.get_absolute_url }}" >&raquo</a>{% else %}<a>&#124;</a>{% endif %}
	</h2>
      {% endwith %}
      {% include "cmsplugin_diff/editing_item.html" %}
    {% endfor %}
  </table>

{% endblock %}
