{% extends "cmsplugin_diff/base.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
    <div class="module">
      {% if object.publish_history.count > 0 %}
        <table id="change-history" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">{% trans 'Published Date' %}</th>
              <th scope="col">{% trans 'Publisher' %}</th>
              <th scope="col">{% trans 'Publisher Language' %}</th>
              <th scope="col">{% trans 'Editors' %}</th>
              <th scope="col">{% trans 'Editor Comments' %}</th>
              <th scope="col">{% trans 'Editor Languages' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object.publish_history.all %}
            <tr>
              <td scope="row"><a href="{{ object.get_absolute_url }}">{{ object.date }}</a></td>
              <td>{{ object.user }}</td>
              <td>{{ object.get_language_display }}</td>
              <td>{% for user in object.users %}{{ user }}<br/>{% endfor %}</td>
              <td>{{ object.comments|linebreaksbr|default:"" }}</td>
              <td>{% for lang in object.languages %}{{ lang }}<br/>{% endfor %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      {% else %}
        <p>{% trans "This page has no history yet." %}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

