{% extends "cmsplugin_diff/base.html" %}
{% load i18n humanize %}

{% block content_title %}
  {% with next=object.next previous=object.previous %}
    <h1>
      {% if previous.pk %}<a href="{{ previous.get_absolute_url }}" >&laquo</a>{% else %}<a>&#124;</a>{% endif %}
      {{ title }}
      {% if next.pk %}<a href="{{ next.get_absolute_url }}" >&raquo</a>{% else %}<a>&#124;</a>{% endif %}
    </h1>
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="terms">
      <dl><dt>{% trans "Page:" %}</dt><dd>{{ object.page }}</dd></dl>
      <dl><dt>{% trans "Date:" %}</dt><dd>{{ object.date }}</dd></dl>
      <dl><dt>{% trans "Age:" %}</dt><dd>{{ object.date|naturaltime }}</dd></dl>
      <dl><dt>{% trans "Published By:" %}</dt><dd>{{ object.user }}</dd></dl>
      <dl><dt>{% trans "Published Language:" %}</dt><dd>{{ object.get_language_display }}</dd></dl>
  </div>

    {% for editing in object.editings.all %}
      <hr/>
      {% with next=editing.next previous=editing.previous %}
	<h2>
	  {% if previous.pk %}<a href="{{ previous.get_absolute_url }}" >&laquo</a>{% else %}<a>&#124;</a>{% endif %}
	  <a href="{{ editing.get_absolute_url }}">{{ editing }}</a>
	  {% if next.pk %}<a href="{{ next.get_absolute_url }}" >&raquo</a>{% else %}<a>&#124;</a>{% endif %}
	</h2>
      {% endwith %}
      {% include "cmsplugin_diff/editing_item.html" %}
    {% endfor %}
  </table>

{% endblock %}
