{% extends "cmsplugin_diff/base.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">

    <div class="module">
      <h2>{% trans "Unpublished Changes" %}</h2>
      {% with object_list=edits_list %}
	{% include "cmsplugin_diff/unpublished_list.html" %}
      {% endwith %}
    </div>

    <div class="module">
      <h2>{% trans "Published History" %}</h2>
      {% if object_list %}
        <table id="change-history" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">{% trans 'Publish Event' %}</th>
              <th scope="col">{% trans 'Page' %}</th>
              <th scope="col">{% trans 'Publisher' %}</th>
              <th scope="col">{% trans 'Publisher Language' %}</th>
              <th scope="col">{% trans 'Published Date' %}</th>
              <th scope="col">{% trans 'Editors' %}</th>
              <th scope="col">{% trans 'Editor Comments' %}</th>
              <th scope="col">{% trans 'Editor Languages' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr>
              <td scope="row"><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
              <td><a href="{{ object.page.get_absolute_url }}">{{ object.page }}</a> |
                <a href="{{ object.page.publish_history.get_absolute_url }}">{{ object.page.publish_history.count }} Publish Events</a>
              </td>
              <td>{{ object.user }}</td>
              <td>{{ object.get_language_display }}</td>
              <td>{{ object.date }}</td>
              <td>{% for user in object.users %}{{ user }}<br/>{% endfor %}</td>
              <td>{{ object.comments|linebreaksbr|default:"" }}</td>
              <td>{% for lang in object.languages %}{{ lang }}<br/>{% endfor %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{% trans "This website has no history yet." %}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

