{% load i18n %}
      {% if object_list %}
        <table id="change-history" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">{% trans 'Page' %}</th>
              <th scope="col">{% trans 'Unpublished Edits' %}</th>
              <th scope="col">{% trans 'Editors' %}</th>
              <th scope="col">{% trans 'Comments' %}</th>
              <th scope="col">{% trans 'Languages' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              {% with detail=object.edit_history.unpublished_details %}
                <tr>
                  <td><a href="{{ object.edit_history.get_absolute_url }}">{{ object.edits }} Unpublished Edits</a></td>
                  <td scope="row"><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                  <td>{% for user in detail.users %}{{ user }}<br/>{% endfor %}</td>
                  <td>
                    {% for comment in  detail.comments %}
                      {{ comment|linebreaksbr|default:"" }}<br/>
                    {% endfor %}
                  </td>
                  <td>{% for lang in detail.languages %}{{ lang }}, {% endfor %}</td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{% trans "This website has no unpublished edits." %}</p>
      {% endif %}
