
a {
  color: #ddd;
}
a:link {
  color: #5b80b2;
}

.terms {
  margin: 4px 0px 12px;
}

.terms dl {
  margin: 1px;
}

.terms dt {
  display: inline-block;
  padding-right: 6px;
  margin: 0px;
}
.terms dd {
  display: inline-block;
}

/* Diff */
div.diff table {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
}
div.diff table th { 
  background-color: white;
  padding-right: 5px; 
}
div.diff tr.created td,
div.diff div.body.created {
  background-color: #afffaf;
}
div.diff tr.deleted td,
div.diff div.body.deleted {
  background-color: #ffafaf;
}
div.diff tr.changed td.del { 
  background-color: #ffdfdf;
}
div.diff tr.changed td.ins { 
  background-color: #dfffdf;
}
div.diff tr.unchanged td,
div.diff tr.unchanged th {
  color: #aaa;
}
div.diff tr.error td,
div.diff tr.error th {
  background-color: #802222;
  color: white;
  padding: 15px;
}

div.diff div.body {
  background-color: white;
  padding: 12px;
  border: 1px solid #aaa;
}
div.diff div.body label {
  background-color: white;
  padding: 4px 9px;
  border: 1px solid #aaa;
  border-radius: 9px;
  margin-left: -24px;
  margin-top: -5px;
}

div.diff ins {
  color: black;
  background-color: green;
}
div.diff del {
  color: black;
  background-color: red; 
}
div.diff del a,
div.diff ins a {
  color: black;
}
div.diff ins, 
div.diff del {
  padding: 3px; 
  text-decoration: none;
}
div.diff .ins {
  background-color: #8d9;
  padding: 4px; 
}
div.diff .del {
  background-color: #f88;
  padding: 4px; 
}

