{% load menu_tags %}

{% for child in children %}
<span class="child" style="{% if child.selected %}background-color: #417690;{% endif %}padding: 3px 6px; border-radius: 6px;">
  <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
</span>
{% endfor %}
